.MobileDev3Container{
    height: 100%;
    width: 100%;
    position: absolute;
    top: 9.6%;
    background-color: #3F8FB6;
    display: flex;
    flex-direction: column;
    gap: 10%;
    align-items: center;
    color: white;
    justify-content: center;
}

.stackTech{
    display: flex;
    gap: 20px;
}

.stackTech div{
    display: flex;
    background: linear-gradient(0deg, rgba(44, 42, 42, 0.22), rgba(44, 42, 42, 0.22));
    border: 1px solid rgba(44, 42, 42, 0.34);
    border-radius: 10px;
    align-items: center;
    height: 200px;
    width: 150px;
    align-items: center;
    justify-content: center;
}

.stackTech div img{
    height: 180px;
    width: 130px;
}

.shortLogoAppYard{
    color: white;
    display: flex;
    align-items: center;
    font-size: 60px;
    font-weight: 1000;
    gap: 10px;
}


@media screen and (max-width : 480px) {

    .Mob3heading1{
        font-size: 24px !important;
        font-weight: 500 !important;
    }


    br {
        display: none !important; /* Remove the line break element */
      }
    
      .stackTech {
        display: flex;
        flex-wrap: wrap;
        gap: 10px;
        align-items: center;
        justify-content: center;
      }
    
      .stackTech div {
        height: 100px;
        width: 20%;
        padding: 1%;
      }
      .stackTech div img{
        height: 90%;
        width: 75%;
    }
    .shortLogoAppYard{
        color: white;
        display: flex;
        align-items: center;
        font-size: 20px !important;
        font-weight: 100;
        gap: 10px;
    }

    .mob3logo{
        height: 60%;
    }
}