@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.mobileContainer{
    position: absolute;
    top: 9.6%;
    background-color: #E77E9F;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1%;
    align-items: center;
    padding: 0% 8%;
}

.mobile-content {
    position: relative;
    color: white;
    opacity: 1;
    height: 65vh;
    width: 40vw;
    border-radius: 10px;
    padding: 2%;
    top: -3%;
    left: 3%;
    border: 0.3px solid white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    background: linear-gradient(0deg, rgba(255, 255, 255, 0.18), rgba(255, 255, 255, 0.18));


  }
  
  
  .mobile-image{
    position: relative;
    left: 3%;
    top: -5%;
  }

  .image-mobile{
    height: 66vh;
    width: 30vw;
  }

  .mobile-content-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px !important;
    font-weight: 600;
    margin-top: 2%;
  }

  .mobile-content-2{
    font-family: 'Montserrat';
    font-size: 20px !important;
    font-weight: 600;
  }


  .mobile-content-3 ul li{
    list-style: 20px;
    margin-bottom: 30px;
    margin-left: 1%;
  }

  .mobile-knowMore{
    background-color:#65B0D6;
    color: white;
    border-radius: 10px;
    border-style: none;
    width: 180px;
    height: 40px;
    margin: 20px;
    z-index: 99999;

  }

  .mobile-knowMore:hover{
    cursor: pointer;
  }

 


  .div-star1{
   position: absolute;
   left: 5.5%;
   bottom: 8%;
  }


  .div-star4{
    position: absolute;
    top: 67%;
    right: 22%;
    z-index: 999;
  }




  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10%;
    font-size: 15px;
    font-weight: 200;
    width: 85%;
  }
  
  li {
    position: relative;
    padding-left: 40px; 
  }
  
  li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    width: 15px;
    height: 15px;
    background-color: #fff;
    border-radius: 50%;
  }

@media screen and (max-width : 480px) {

  .mobileContainer{
    top: 7%;
  }

   .image-mobile{
    height: 30vh;
    width:100%;
  }

  .mobile-image{
    position: relative;
    left: 30%;
    top: -30%;
  }
  

  .mobile-content {
    position: absolute;
    height: 45vh;
    width: 90vw;
    padding: 2%;
    top: 40%;
    padding: 3%;
    gap: 0px;  

  }

  .mobile-content-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 24px !important;
    font-weight: 600;
    margin-top: 2%;
    height: 11%;
    min-height: 11%;
  }


  .mobile-content-2{
    font-family: 'Montserrat';
    font-size: 20px !important;
    font-weight: 600;
    height: 10%;
    min-height: 18%;
  }

  ul{
    padding: 0;
    margin-top: -10%;
    font-size: 15px;
    font-weight: 200;
    width: 85%;
  }

  .mobile-content-3{
    margin-top: -5%;
    min-height: 30%;
    width: 100%;
  }
  .mobile-content-3 ul li{
    margin-bottom: 10px;
    margin-left: 1%;
  }

  .div-star1{
    position: absolute;
    left: 7.5%;
    top: 30%;
   }

   .div-star4{
    position: absolute;
    top: 78%;
    left: 60%;
  }

    .star1{
      height: 15%;
      width: 100%;
    }
    .star4{
      height: 30%;
      width: 100%;
    }

}
  