.howButtonContainer
{
    background-color: #F3B820;
    position: absolute;
    top: 20%;
    height: 200vh;
    width: 100vw;
    background-image: url('../assests//rocket\ \(1\).png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 10%;
    display: flex;
    flex-direction: column;
    align-items: center;
    overflow: scroll;
}

.workingSection2{
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    gap: 5%;

}

.workingStep1{
    background-color: white;
    height: 100%;
    width: 80%;
    border-radius: 10px;
}