body{
    background-color: #121212 !important;
}

.LandingPage {
    position: fixed;
    top: 60%;
    left: 50%;
    transform: translate(-50%, -50%);
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #446E83;
    color: white;
    overflow: hidden;
    transition: background-color;
  }
  
  .LandingPage.animation-start {
    background-color: #121212; 
  }
  
  .we {
    font-size: 50px;
    position: absolute;
    opacity: 0;
    transition: opacity 2s ease-in-out;
    background-color: #446E83;
    z-index: 999;

  }
  
  .we-animation1 {
    animation: fadeIn 2s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .are-animation1 {
    animation: fadeOut 1s ease-in-out;
  }
  
  @keyframes fadeOut {
    0% {
      opacity: 1;
    }
    100% {
      opacity: 0;
    }
  }
  
  .withyou-animation1 {
    animation: fadeIn 1s ease-in-out;
  }
  
  @keyframes fadeIn {
    0% {
      opacity: 0;
    }
    100% {
      opacity: 1;
    }
  }
  
  .shape-animation {
    animation: changeShape 2s ease-in-out;
  }
  
  @keyframes changeShape {
    0% {
      border-radius: 0%;
      height: 100vh;
      width: 100vw;
    }
    100% {
      border-radius: 50%;
      height: 60vh;
      width: 30vw;
    }
  }
  
  .leftDiv {
    position: absolute;
    top: 18%;
    left: 35%;
    height: 60%;
    width: 30%;
    border-radius: 50%;
    background-color: #446E83;
    opacity: 0;
    animation-delay: 4s;
    animation: moveLeft 6s ease-in-out;
    animation-fill-mode: forwards;
  }
  
  @keyframes moveLeft {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    30%{
      transform: translate(20%, 10%);

      opacity: 1;
    }
    50% {
        transform: translate(15%, 10%);
        opacity: 1;
    }   

    80%{
      transform: translate(150%, 10%);
      opacity: 1;
    }

    90%{
      transform: translate(120%, 10%);
      opacity: 1;
    }

    100% {
      transform: translate(200%, 10%);
      opacity: 0;
    }
  }
  
  .rightDiv {
    position: absolute;
    top: 18%;
    right: 35%;
    height: 60%;
    width: 30%;
    border-radius: 50%;
    background-color: #446E83;
    opacity: 0;
    animation-delay: 4s;
    animation: moveRight 6s ease-in-out ;
    animation-fill-mode: forwards;
  }
  
  @keyframes moveRight {
    0% {
      transform: translateX(0);
      opacity: 1;
    }

    30%{
      transform: translate(-20%, 10%);

      opacity: 1;
    }
    50% {
        transform: translate(-15%, 10%);
        opacity: 1;
    }   

    80%{
      transform: translate(-150%, 10%);
      opacity: 1;
    }

    90%{
      transform: translate(-120%, 10%);
      opacity: 1;
    }

    100% {
      transform: translate(-200%, 10%);
      opacity: 0;
    }
  }
  
  .circle1{
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    left: 43%;
    opacity: 1;
    z-index: 9999;
    position: absolute;
    top: 37%;
    background-color: transparent;
    animation-delay: 15s;
    animation: moveCircle1 3s ease-in-out ;
  }

  @keyframes moveCircle1 {
    0% {
        opacity: 0.1;
    }
    100% {
        opacity: 1;
    }
  }

  .circle2{
    height: 400px;
    width: 400px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    opacity: 1;
    z-index: 999;
    position: absolute;
    left: 40%;
    top: 30%;
    background-color: transparent;
    animation-delay: 15s;
    animation: moveCircle2 3s ease-in-out;
  }

  @keyframes moveCircle2 {
    0% {
        opacity: 0.1;
        position: absolute;
        left: 80%;

    }
    100% {
        opacity: 1;
        position: absolute;
        left: 40%;
    }
  }

  .circle3{
    height: 500px;
    width: 500px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    opacity: 1;
    z-index: 900;
    position: absolute;
    left: 37%;
    top: 24%;
    background-color: transparent;
    animation-delay: 15s;
    animation: moveCircle3 3s ease-in-out ;
  }

  @keyframes moveCircle3 {
    0% {
        opacity: 0.1;
        position: absolute;
        left: 55%;
        top: 24%;
    }
    100% {
        opacity: 1;
        position: absolute;
        left: 37%;
        top: 24%;

    }
  }
  .circle4{
    height: 600px;
    width: 600px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    opacity: 1;
    position: absolute;
    z-index: 800;
    position: absolute;
    left: 33.5%;
    top: 16.6%;
    background-color: transparent;
  }
  .circle5{
    height: 700px;
    width: 700px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    opacity: 1;
    z-index: 700;
    position: absolute;
    left: 30%;
    top: 10%;
    background-color: transparent;
    animation-delay: 15s;
    animation: moveCircle5 3s ease-in-out;
  }

  @keyframes moveCircle5 {
    0% {
        opacity: 0.1;
        position: absolute;
        left: 18%;
    }
    100% {
        opacity: 1;
        position: absolute;
        left: 30%;
    }
  }

  .circle6{
    height: 800px;
    width: 800px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    opacity: 1;
    z-index: 600;
    position: absolute;
    left: 27%;
    top: 4%;
    background-color: transparent;
    animation-delay: 15s;
    animation: moveCircle6 3s ease-in-out;
  }

  @keyframes moveCircle6 {
    0% {
        opacity: 0.1;
        position: absolute;
        left: 18%;
    }
    100% {
        opacity: 1;
        position: absolute;
        left: 27%;
    }
  }

  .circle7{
    height: 1000px;
    width: 1000px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    opacity: 1;
    z-index: 500;
    position: absolute;
    left: 20%;
    top: -7%;
    background-color: transparent;
  }


  @keyframes moveCircle7 {
    0% {
        opacity: 0.1;
        position: absolute;
        left: 23%;
    }
    100% {
        opacity: 1;
        position: absolute;
        left: 30%;
    }
  }

  .circle8{
    height: 1300px;
    width: 1300px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    opacity: 1;
    z-index: 400;
    position: absolute;
    left: 8%;
    top: -22%;
    background-color: transparent;
    animation-delay: 15s;
    animation: moveCircle8 3s ease-in-out;
  }

  
  @keyframes moveCircle8 {
    0% {
        opacity: 0.1;
        position: absolute;
        left: 3%;
    }
    100% {
        opacity: 1;
        position: absolute;
        left: 8%;
    }
  }

  .circle9{
    height: 1500px;
    width: 1500px;
    border-radius: 50%;
    border: 10px solid #446E83;
    background-color: #121212;
    opacity: 1;
    z-index: 100;
    position: absolute;
    left: 1%;
    top: -33%;
    background-color: transparent;
    animation-delay: 15s;
    animation: rotateCircle9 4s ease-in-out;
  }

  @keyframes rotateCircle9 {
    0% {
        transform: rotateY(60deg);
    }
    100% {
       transform: rotateY(0deg);
    }
  }

  .content1{
    position: relative;
    left: 6%;
    top: -10%;
    opacity: 1;
    animation: moveContent1 2s ease-in-out;
  }

  @keyframes moveContent1 {
    0%{
        top:30%
    }

    100%{
        top: -10%;
    }
  }
  

  .plushundred{
    opacity: 1;
    z-index: 99999;
    position: absolute;
    background-color: transparent;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    margin-top: 10%;
    margin-left: 7%;
    align-items: center;
    gap: 40px;
    animation: opacityPlusHundred 2s ease-in-out;
  }

  @keyframes opacityPlusHundred {
    0%{
        opacity: 0;
    }
    100%{
        opacity: 1;
    }
    
  }

  .getWebsite{
    border-style: none;
    border-radius: 5%;
    height: 40px;
    width: 140px;
    background-color: #446E83;
    color: white;
    cursor: pointer;
  }

 
