.chooseContainer{
    background-color: #0AB276;
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: row;
    position: absolute;
    top: 9.6%;
    color: white;
    gap: 5%;
    padding-left: 10%;
}

.questionmark{

    display: flex;
    flex-direction: column;
    gap: 5%;
    width: 40%;
    position: relative;
    top: 9%;
    left: 7%;
    line-height: 130px;
}

.timeAndWallet{
    display: flex;
    flex-direction: column;
    gap: 10%;
    position: relative;
    top: 10%;
}
.time{
    display: flex;
    align-items: center;
}
.tool{
    display: flex;
    align-items: center;
}
.walletDiv{
    display: flex;
    align-items: center;
}
