.HowWorks2Container{
    background-color: #F3B820;
    position: absolute;
    top: 9.6%;
    height: 100%;
    width: 100%;
    background-image: url('../assests/rocket\ \(1\).png');
    background-size: 60%;
    background-repeat: no-repeat;
    background-position-x: 10%;
    align-items: center;
    gap: 5%;
    overflow: scroll;
}
.HowWorks-section1{
    position: relative;
    top: 10%;
    height: 10%;
    left: 35%;
}
.HowWorks-section2 {
    display: grid;
    grid-template-columns: 45% 45%;
    grid-template-rows: 35% 35% 35%;
    gap: 1%;
    width: 100%;
    height: 100%;
    margin-top: 10%;
    overflow: visible;
    margin-left: 5%;
  }
  .step-number{
    font-size: 32px;
    font-weight: 600;
    color: white;
    background-color: #484848;
    height: 65px;
    gap: 10px;
    width: 200px;
    border-radius: 10px;
    text-align: center;
    justify-content: center;
    line-height: 2;
  }

  .step1{
    display: flex;
    flex-direction: row;
    background-color: white;
    border-radius: 10px;
    padding: 3%;
  }
.step2,
.step3,
.step4,
.step5,
.step6{
  display: flex;
  flex-direction: row;
  background-color: white;
  border-radius: 10px;
  justify-content: center;
  padding: 3%;
}

.step-content1,
.step-content2,
.step-content3,
.step-content4,
.step-content5,
.step-content6

{
    display: flex;
    flex-direction: column;
    gap: 10%;
}

.works1{
  width: 40%;
}
.works2{
  width: 60%;
}
.works3{
  width: 100%;
}
.works4{
  width: 80%;
}
.works5{
  width: 100%;
}
.works6{
  width: 50%;
}

.section2And3{
  margin-top: 10%;
  position: relative;
  top: 0%;
  height: 65%;
  background-color: #121212;
  color: white;
}
/*section 3*/

.social-icons{
  display: flex;
  gap: 40px;
}

.workingSection3{
  height: 40%;
  width: 100vw;
  position: relative;
  top: 43%;
  display: flex;
  gap: 62%;
  margin-left: 5%;
}

.howWorksSection2{
  display: flex;
    gap: 15%;
    padding-left: 5%;
    background-color: #121212;
    color: white;
    position: relative;
    top: 20%;
}

button{
  background-color: transparent;
  border-style: none;
  font-size: 16px;
  color: white;
}


@media screen and (max-width: 480px) {
  .HowWorks2Container {
    background-size: 80%;
    background-position-x: 50%;
    height: 200%;
    padding-left: 0%;
    align-items: center;
  }

  .HowWorks-section1 {
    top: 5%;
    left: 20%;
  }

  .HowWorks-section2 {
    grid-template-columns: 95%;
    grid-template-rows: auto;
    margin-top: 5%;
    margin-left: 0;
    align-items: center;
    justify-content: center;
  }

  .step-number {
    display: flex;
    font-size: 20px;
    font-weight: 500;
    height: 18%;
    gap: 0px;
    width: 100px;
    border-radius: 5px;
    text-align: center;
    align-items: center;
    justify-content: center;
    line-height: 0;
    background-color: #204E65;
  }

  .step1,
  .step2,
  .step3,
  .step4,
  .step5,
  .step6 {
    height: 90%;
    padding: 10%;
  }

  .works1,
  .works2,
  .works3,
  .works4,
  .works5,
  .works6 {
    width: 90%;
    height: 90%;
  }

  .howWorks2Img{
    height: 100%;
    width: 100%;
  }

  .section2And3 {
    margin-top: 0%;
    height: 30%;
    width: 110%;
    overflow: hidden;
  }

  .workingSection3 {
    top: -45%;
    flex-direction: column-reverse;
    gap: 10%;
    align-items: center;
    left: -6%;
  }

  .howWorksSection2 {
    top: 10%;
    gap: 10%;
    padding-left: 0;
    height: 100%;
  }

  .howWorks2heading1{
    font-size: 24px !important;
  }

  .stepHeadings1{
    font-size: 20px !important;
    font-weight: 600 !important;
  }

  .stepHeadings2{
    font-size: 14px !important;
    font-weight: 400 !important;
    line-height: 1.2;
  }
  .step-content1,
  .step-content2,
  .step-content3,
  .step-content4,
  .step-content5,
  .step-content6
  {
    gap: 5%;
  }

  .works2Company{
    gap: 15px !important;
    align-items: center !important;
    width: 120%;
    text-align: center;
    position: absolute;
    left: -38%;
    height: 40%;
  }

  .works2Company button{
    width: 150% !important;
  }
  .works2Services{
    gap: 15px !important;
    align-items: center !important;
    width: 120%;
    text-align: center;
    position: absolute;
    left: 8%;
    height: 40%;;
  }
  .works2Contact{
    gap: 15px !important;
    width: 80% !important;
    position: absolute;
    left: 6%;
    top: 40%;
    align-items: center !important;
  }

  hr{
    color: white !important;
    width: 80% !important;
  }
}
