.HowWorkContainer{
    background-color: #F3B820;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 9.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 5%;
    color: #484848;
    padding-top: 2%;
}

.howWorks-knowMore{
    width: 230px;
    height: 58px;
    border-radius: 10px;
    border-style: none;
    color: white;
    background-color: #65B0D6;
}

@media screen and (max-width:480px) {
    .HowWorkContainer{
        top: 8%;
        text-align: center;
    }

    .HowWorkContainerContent1{
        font-size: 30px !important;
        padding: 2%;
        position: relative;
        top: 10%;
    }

    .HowWorkContainerContent2{
        font-size: 20px !important;
        position: relative;
        top: 5%;
        padding: 7%;
    }
    
    .divrocketHowWorksImage{
        height: 30%;
        width: 30%;
    }
    .rocketHowWorksImage{
        height: 80%;
        width: 80%;
    }
    
    .howWorks-knowMore{
        width: 150px;
        height: 38px;
    }
}