.helpContainer{
    background-color: #5D73C2;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 9.3%;
    color: white;
    display: flex;
    flex-direction: column;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.help1{
    position: relative;
    top: -10%;
    font-size: 60px;
    font-weight: 600;
}

.help2{
    font-size: 300px;
    font-weight: 800;
}

.help3{
    font-size: 48px;
    font-weight: 500;
    width: 70%;
    text-align: center;
}

.wardMoney{
    position: absolute;
    top: 55%;
    left: 3%;
}

.cryptoImage{
    position: absolute;
    top: 5%;
    left: 80%;
}

@media screen and (max-width : 480px) {

    .helpContainer{
        top: 7%;
        padding: 0% 0%;
    }

    .help1{
        position: absolute;
        top: 25%;
        font-size: 35px;
        font-weight: 400;
        text-align: center;
    }

    .help2{
        font-size: 100px;
        font-weight: 600;
    }

    .help3{
        font-size: 18px;
        font-weight: 400;
        width: 75%;
        padding: 2%;
    }
    .wardMoney{
        position: absolute;
        top: 63%;
        left: 0%;
    }
    
    .cryptoImage{
        position: absolute;
        top: 8%;
        left: 65%;
    }

    .wardMoneyImage{
        height: 30%;
        width: 80%;
    }
    
    .cryptocurrency{
        height: 50%;
        width: 90%;
    }
}