.digi7container{
    background-color: #6DA4D8;
    height: 100%;
    width: 100%;
    position: absolute;
    top: 9.6%;
    color: white;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: flex-end;
    padding-left: 5%;
    gap: 0%;
}

.digi7Content{
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8%;
    height: 100%;
}

.digi7heading1{
    font-size: 60px;
    font-weight: 600;
    position: relative;
    top: 5%;
}

.digi7heading2{
    font-size: 32px;
    font-weight: 400;
}

.googleLines{
    display: flex;
    width: 20%;
    height: 100%;
}

.google1{
    background-color: #F14336;
    height: 100%;
    width: 20%;
}
.google2{
    background-color: #FBBB00;
    height: 100%;
    width: 20%;
}
.google3{
    background-color: #28B446;
    height: 100%;
    width: 20%;
}
.google4{
    background-color: #518EF8;
    height: 100%;
    width: 20%;
}