@import url('https://fonts.googleapis.com/css2?family=Montserrat&display=swap');

.webContainer{
    position: absolute;
    top: 9%;
    background-color: #5CA2A0;
    height: 100%;
    width: 100%;
    display: flex;
    gap: 1%;
    align-items: center;
    padding: 0% 8%;
}

.web-content {
    position: relative;
    color: white;
    opacity: 1;
    height: 65vh;
    width: 40vw;
    border-radius: 10px;
    z-index: 2;
    padding: 2%;
    top: -3%;
    left: 3%;
    border: 0.3px solid white;
    display: flex;
    flex-direction: column;
    gap: 15px;
    padding-right: 10%;
    backdrop-filter: blur(200px);
  }

  
  .webMan-image{
    position: relative;
    left: 3%;
    top: -5%;
  }

  .image-mobile{
    height: 66vh;
    width: 30vw;
  }

  .web-content-1{
    font-family: 'Montserrat', sans-serif;
    font-size: 40px !important;
    font-weight: 600;
    margin-top: 2%;
  }

  .web-content-2{
    font-family: 'Montserrat';
    font-size: 20px !important;
    font-weight: 600;
  }


  .web-content-3 ul li{
    list-style: 20px;
    margin-bottom: 30px;
    margin-left: 1%;
  }

  .mobile-knowMore{
    background-color:#446E83;
    color: white;
    border-radius: 10px;
    border-style: none;
    width: 180px;
    height: 40px;
    margin: 20px;
  }

  .div-html{
    position: absolute;
    left: 9.8%;
    bottom: 20%;
   }
 
  .div-css{
    position: absolute;
    left: 17%;
    bottom: 10%;
   }
 
 
   .div-react{
     position: absolute;
     top: 67%;
     right: 21%;
     z-index: 999;
   }

  


  ul {
    list-style-type: none;
    padding: 0;
    margin-top: 10%;
    font-size: 15px;
    font-weight: 200;
  }
  
  li {
    position: relative;
    padding-left: 40px; /* Adjust the value as per your needs */
  }
  
  li::before {
    content: "";
    position: absolute;
    left: 0;
    top: 40%;
    transform: translateY(-50%);
    width: 15px; /* Adjust the size of the bullet point as needed */
    height: 15px; /* Adjust the size of the bullet point as needed */
    background-color: #fff; /* Adjust the color of the bullet point as needed */
    border-radius: 50%;
  }

  @media screen and (max-width : 480px) {

    .webContainer{
      top: 7%;
    }
  
     .image-mobile{
      height: 30vh;
      width:100%;
    }
  
    .webMan-image{
      position: relative;
      left: 15%;
      top: -30%;
    }
    
  
    .web-content {
      position: absolute;
      height: 40vh;
      width: 86vw;
      top: 40%;
      padding: 3%;
      gap: 10px;
      
  
    }
  
    .web-content-1{
      font-family: 'Montserrat', sans-serif;
      font-size: 24px !important;
      font-weight: 600;
      margin-top: 2%;
      height: 11%;
    }
  
    .web-content-2{
      font-family: 'Montserrat';
      font-size: 20px !important;
      font-weight: 600;
      height: 10%;
    }
    
    .web-content-3 ul li{
      margin-bottom: 10px;
      margin-left: 1%;
    }

    .web-content-3{
      margin-top: -10%;
    }

    .div-html{
      position: absolute;
      left: 7.5%;
      top: 30%;
     }
  
     .div-react{
      position: absolute;
      top: 75%;
      left: 60%;
    }
    .div-css{
      position: absolute;
      top: 32%;
      z-index: 2;
      left: 68%;
    }

      .star1{
        height: 15%;
        width: 100%;
      }
      .star3{
        height: 30%;
        width: 100%;
      }
  
  }
  