.WebDev2Container{
    background-color: #5CA2A0;
    height: 100%;
    width: 100%;
    overflow: hidden;
    position: absolute;
    top: 9.6%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-top: 8%;
}

.headingMobileWeb{
    position: absolute;
    color: white;
    height: 15vh;
    width: 60vw;
    border-radius: 10px;
    top: 35%;
    border: 1px solid #FFFFFF;
    display: flex;
    padding: 1%;
    padding-left: 5%;
    justify-items: center;
    align-items: center;
    padding-right: 10%;
    z-index: 1;
    backdrop-filter: blur(200px);
    background-image: url('../assests/man-website.png');
    background-repeat: no-repeat;
    background-size:40;
    background-position-y: 40%;
    background-position-x: 50%;
    filter: blur(3px);
    font-size: 60px;
    font-weight: 800;
}

.headingMobileFrontWeb{
    position: absolute;
    color: white;
    height: 15vh;
    width: 60vw;
    border-radius: 10px;
    top:35%;
    border-style: none;
    font-size: 60px;
    font-weight: 800;
    z-index: 2;
    background: linear-gradient(0deg, rgba(18, 18, 18, 0.3), rgba(18, 18, 18, 0.3));
    padding: 1.1% 7.6%;
    text-align: center;
}

@media screen and (max-width : 480px) {

    .WebImage{
        height: 60%;
        position: relative;
        top: 11%;
    }

    .Web2Img{
        height: 100%;
    }
    .headingMobileWeb{
        width: 90%;
        background-size:115%;
        background-position-y: 40%;
        background-position-x: 50%;
        height: 10%;
    }
    .headingMobileFrontWeb{
        width: 90%;
        height: 10%;
        font-size: 27px;
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 0% 5%;
    }
    .WeblogoShort{
        height: 20%;
        color: white;
        font-size: 30px;
        font-weight: 600;
        position: absolute;
        left: 60%;
        top: 70%;
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .Web2LogoImg{
        height: 40%;
        width: 50%;
    }
}