*{
    font-family: 'Montserrat';
    font-style: normal;
    font-weight: 100;
    overflow-x: hidden;
    overflow-y: hidden;
}

.navbar-permanent{
    background-color: #333333;
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 8%;
    padding: 1%;
    height: 100px;
    width: 100%;
    padding-right: 0%;
    padding-left: 30%;
    position: absolute !important;
    top: 0;
    left: 0;
    color: #FFF;
    z-index: 2;
}

.navbar-logo{
    position: absolute;
    top: 2%;
    left: 3%;
    background-color: transparent;
    cursor: pointer;
    display: flex;
    align-items: center;
    gap: 10px;
    color: white;
    font-size: 40px;
    font-weight: 600;
    z-index: 3;
}

.ImageNavbarLogo{
    height: 60px;
    width: 60px;
}

.navbar-buttons{
    display: flex;
    flex-direction: row;
    opacity: 1;
}

.navbar-buttons button{
    background-color: transparent;
    color: white;
    width: 15em;
    border-style: none;
    font-size: 17px;
}

.quote{
    display: flex;
    gap: 30px;
    align-items: center;
}

.phonepng{
    width: 20px;
    height: 20px;
    cursor: pointer;
}
.line{
    height: 40px;
}

.quote-button{
    background-color:#65B0D6;
    color: white;
    border-radius: 10px;
    border-style: none;
    width: 130px;
    height: 40px;
}
button:hover{
    cursor: pointer;
}

.innerNavbarAppYard{
    font-size: 40px;
    font-weight: 600;
}
.mobile-nav-toggle{
    display: none;
}
@media screen and (max-width : 1700px) {
    .quote{
        opacity: 1;
    }
}
@media screen and (max-width : 480px) {
    .quote{
        opacity: 1;
        display: flex;
        gap: 15px;
        align-items: center;
        position: relative;
        right: -1%;
        width: 80%;
    }
    .ImageNavbarLogo{
        height: 40px;
        width: 40px;
        opacity: 1;
    }
    .navbar-buttons{
        opacity: 1;
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 50px;
    }
    .navbar-permanent{
       position: fixed;
       gap:20%;
       height: 100%;
       inset: 0% 0% 0% 30%;
       background: #333333;
       backdrop-filter: blur(0.5rem);
       flex-direction: column;
       padding: min(20vh, 10rem) 2rem 2rem 0rem;
       transform: translateX(100%);
       z-index: 9999;
    }
    .navbar-permanent[data-visible = "true"]{
        transform: translateX(0%);
        transition: transform 0.4s ease-in-out;
    }
    .navbar-permanent[data-visible = "false"]{
        transform: translateX(100%);
        transition: transform 0.4s ease-in-out;
    }
    .quote-button{
        width: 160px;
        height: 40px;
    }

    .phonepng{
        height: 100%;
        width: 10%;
    }
    .innerNavbarAppYard{
        font-size: 20px;
        font-weight: 600;
        width: 150px;
        opacity: 1;
    }

    .mobile-nav-toggle{
    display: block;
    position: absolute;
    background:url('../assests/icons8-menu.svg');
    background-repeat: no-repeat;
    width: 3rem;
    border: 0;
    aspect-ratio: 1;
    top: 0.5rem;
    right: 2rem;
    z-index: 99999;

    }
}