.app-container {
  position: relative;
  width: 100%; /* Set the desired width */
  height: 100%; /* Set the desired height */
  margin: 0 auto;
  overflow: scroll; /* Center the container on the screen */
}

.custom-scrollbar-container {
  position: absolute;
  top: 50px; /* Set the desired top position */
  left: 50px; /* Set the desired left position */
  width: calc(100% - 100px); /* Set the desired width based on container size */
  height: calc(100% - 50px); /* Set the desired height based on container size */
}
