.quoteContainer{
    background-color: #FFF;
    position: absolute;
    top: 9.6%;
    height: 100%;
    width: 100%;
    display: flex;
    justify-content: center;
    padding-top: 3%;
    color: #FFF;
}

.insideQuoteContainer{
    background-color: #484848;
    height: 60%;
    width: 60%;
    border-radius: 10px;
    display: grid;
    grid-template-columns: 50% 50%;
    grid-template-rows: 50% 50%;
    column-gap: 10%;
    align-items: center;
    justify-items:flex-start;
    padding: 5%;
}

.insideQuoteContainer > * {
    align-self: start;
  }

  .QuoteImage{
       height: 150%;
       width: 150%; 
       position: relative;
       top: -40%;
       left: -10%;
  }

.QuoteImg{
    height: 90%;
    width: 70%;
}

.quoteTextFields{
    display: flex;
    flex-direction: column;
    gap: 20px;
    position: relative;
    top: -40%;
}

.quoteInputMessage{
    height: 100px;
}

.quoteLogos{
    display: flex;
    align-items: center;
    font-size: 48px;
    font-weight: 1000;
    gap: 10px;
}

.quoteHeading{
    font-size: 48px;
    font-weight: 600;
    width: 60%;
    line-height: 1.3;
}

.QuoteSend{
    height: 100px;
}

.QuotesendButton{
    background-color: #65B0D6 !important;
    height: 50% !important;
    width: 50%;
    border-radius: 10px;
    position: relative;
    left: 50%;
}

@media screen and (max-width : 480px) {

    .quoteContainer{
        background-color: #FFF;
        position: absolute;
        top: 7%;
        height: 100%;
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        padding:0%;
        color: #FFF;
    }
    
    .insideQuoteContainer{
        background-color: #484848;
        height: 85%;
        width: 80%;
        border-radius: 10px;
        display: flex;
        flex-direction: column;
        padding: 5%;
    }

    .QuoteImage{
        position: relative;
        left: 25%;
        top: -45%;
    }

    .QuoteImg{
        position: absolute;
        top: 50%;
        height: 30%;
        width: 30%;
    }
    
    .quoteTextFields{
        display: flex;
        flex-direction: column;
        height: 40%;
        position: absolute;
        top: 52%;
        left: 15%;
        gap: 0px;
    }

    .quotetextFieldsContent1{
        gap: 5px !important;
        height: 40%;
    }
    .quotetextFieldsContent2{
        gap: 5px !important;
        height: 40%;
    }
    .quotetextFieldsContent3{
        gap: 10px !important;
        height: 50%;
    }

    .quotetextFieldsContent1 input{
        width: 250px;
    }
    .quotetextFieldsContent2 input{
        width: 250px;
    }
    .quotetextFieldsContent3 input{
        width: 250px;
        height: 80px !important;
    }
    .shortLogoImage{
        height: 50%;
    }
    .quoteLogos{
        display: flex;
        align-items: center;
        font-size: 24px;
        font-weight: 600;
        gap: 10px;
        height: 40%;
        position: relative;
        top: -5%;
        left: 20%;
    }
    
    .quoteHeading{
        font-size: 20px;
        font-weight: 600;
        width: 38%;
        line-height: 1.3;
        height: 11%;
        text-align: center;
        position: absolute;
        top: 43%;
        left: 32%;
        line-height: 1.5;
    }
    
    .QuoteSend{
        height: 100px;
    }
    
    .QuotesendButton{
        background-color: #446E83;
        height: 50% !important;
        width: 50%;
        border-radius: 10px;
        position: relative;
        top: 10%;
    }
}